@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Dancing+Script&family=Libre+Baskerville&family=Qwitcher+Grypen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@500&display=swap');

@media only screen and (max-width: 450px) {
    * {

        margin: 0;
        padding: 0;

    }

    a {

        font-family: sans-serif;
        text-decoration: none;

    }

    h1 {

        margin-top: 12%;
        font-size: 25px;
        text-align: center;
        color: #FF9100;
        text-decoration: underline;

    }

    h2 {

        margin-top: 7%;
        margin-left: 4%;
        font-size: 15px;
        color: #FF9100;
        text-align: left;
        font-family: 'Livvic', sans-serif;

    }

    h3 {

        margin-top: 7%;
        margin-left: 4%;
        font-size: 12px;
        color: #964308;
        text-align: left;
        font-family: 'Livvic', sans-serif;

    }

    h4 {

        margin-top: 4%;
        margin-left: 4%;
        font-size: 12px;
        color: #964308;
        text-align: center;
        font-family: 'Livvic', sans-serif;

    }

    P {

        margin-top: 2%;
        font-size: 10px;
        margin-left: 4%;
        font-family: 'Livvic', sans-serif;
        text-align: left;

    }

    .header {

        background: #FFF2D6;
        padding-inline: 16px;
        border: 1px solid black;

    }

    .nav {

        max-width: 1280px;
        height: 80px;
        display: flex;

    }

    .nav-left {

        width: 30vw;

    }

    .nav-center {

        width: 40vw;
        text-align: center;

    }

    .nav-right {

        width: 30vw;
        z-index: 1;

    }

    .logo img {

        width: 65%;

    }

    .hamburger {

        display: block;
        margin-left: 70%;
        margin-top: 25%;
        border: none;
        background: none;
        border-top: 3px solid black;
        cursor: pointer;

    }

    .hamburger::before,
    .hamburger::after {

        content: " ";
        display: block;
        width: 30px;
        height: 3px;
        background: black;
        margin-top: 5px;

    }

    .list {

        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: white;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        list-style: none;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;

    }

    .list a {

        font-size: 25px;
        color: black;
        padding-block: 16px;

    }

    .nav.active .list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .firstPage {

        height: calc(100vh - 80px);
        background-color: #FFF2D6;
        display: flex;

    }

    .otherPages {

        height: 100vh;
        background-color: #FFF2D6;
        display: flex;

    }

    .main-left {

        width: 30%;
        height: auto;
        background-image: url('/frontend/img/image-01.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 35%;

    }

    .main-right {

        width: 70%;
        height: auto;

    }

    .main02-left {

        width: 30%;
        height: auto;
        background-image: url('/frontend/img/image-02.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;

    }

    .main02-right {

        width: 70%;
        height: auto;

    }

    .main03-left {

        width: 30%;
        height: auto;
        background-image: url('/frontend/img/image-03.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 30%;

    }

    .main03-right {

        width: 70%;
        height: auto;

    }

    .main04-left {

        width: 30%;
        height: auto;
        background-image: url('/frontend/img/image-04.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;

    }

    .main04-right {

        width: 70%;
        height: auto;

    }

    .main05-left {

        width: 30%;
        height: auto;
        background-image: url('/frontend/img/image-05.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 55%;

    }

    .main05-right {

        width: 70%;
        height: auto;

    }

    .main06-left {

        width: 30%;
        height: auto;
        background-image: url('/frontend/img/image-06.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 45%;

    }

    .main06-right {

        width: 70%;
        height: auto;

    }

    .main07-left {

        width: 30%;
        height: auto;
        background-image: url('/frontend/img/image-07.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 30%;

    }

    .main07-right {

        width: 70%;
        height: auto;

    }

}

@media only screen and (min-width: 450px) and (max-width: 650px) {}